<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6 formalign">
            <div class="userDetailCard">
                <form [formGroup] = "loginform" (ngSubmit) = "login()">
                    <div class="col-sm-12 error" *ngIf = "userNotFound">Username or Password incorrect</div>
                    <div class="col-sm-12">
                        <div class="row mt-10">
                            <div class="col-sm-6"><label for="username">User Name: </label></div>
                            <div class="col-sm-6"><input id="username" type="text" formControlName="username"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                     <div class="row mt-10">
                        <div class="col-sm-6"><label for="password">Password: </label></div>
                        <div class="col-sm-6"><input id="passworde" type="text" formControlName="password"></div>
                     </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="justify-content-center mt-10">
                            <button [disabled] = "!loginform.valid"type="submit" class="btn btn-primary btn-sm btn-width">Login</button>
                        </div>
                        <div class="mt-1">Don't have an account ? <a routerLink = "/register">Sign up</a></div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>