.formalign {
    text-align: center;
}
.loginCard {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin: 15px;
    padding: 25px;
}
.mt-10 {
    margin-top: 10px;
}
.btn-width {
    width:20%;
}