<div style="min-width: 500px;">
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="resetPasswordCard row">
        <div class="col-sm-12">
        <div class="col-sm-12 error" *ngIf = "passwordMissMatch">New password and Confirm Password fields should be same!</div>
        <div class="col-sm-12 error" *ngIf = "currentPasswordErr">Incorrect old password please try again</div>

        <div class="col-sm-12">
            <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()">
                <div class="row">
                    <div class="col-sm-6 align-self-center">
                        <label>Old Password</label>
                    </div>
                    <div class="col-sm-6"><input type="text" formControlName="oldPassword" class="resetPassword">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 align-self-center">
                        <label>New Password</label>
                    </div>
                    <div class="col-sm-6"><input type="text" formControlName="newPassword" class="resetPassword">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 align-self-center">
                        <label>Confirm Password</label>
                    </div>
                    <div class="col-sm-6"><input type="text" formControlName="cPassword" class="resetPassword">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <button [disabled] = "!passwordForm.valid"class="btn btn-primary btn-sm btn-width" type="submit"
                            style=" margin-top: 20px">Update</button></div>
                </div>
            </form>
        </div>
    </div>
</div>