<div style="min-width: 500px;">
    <button type="button" class="close" (click) = "activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class= "resetPasswordCard row">
        <form [formGroup] = "passwordForm"(ngSubmit)= "resetPassword()">
            <div class="col-sm-12 text"><input type="text-area" formControlName = "newPassword" class="resetPassword"></div>
            <div class="col-sm-12"><button class="btn btn-primary btn-sm btn-width" style="float: right;">Update</button></div>
        </form>
    </div>
</div> 