<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-6 formalign">
            <div class="userDetailCard">
                <form [formGroup] = "registrationForm" (ngSubmit) = "register()">
                    
                    <div class="col-sm-12 error" *ngIf = "registrationFailed">{{msg}}</div>
                    <div class="col-sm-12 error" *ngIf = "registrationForm.controls.dob.errors?.pattern">Date of Birth must be in dd-MM-YYYY format</div>
                    <div class="col-sm-12 error" *ngIf = "cpassError">Password and Confirm Password should be same</div>
                    <div class="col-sm-12 error" *ngIf = "registrationForm.controls.contactnumber.errors?.pattern">Phone number must contain 10 digits</div>
                    <div class="col-sm-12 error" *ngIf = "registrationForm.controls.email.errors?.pattern">Email not valid</div>

                    <div class="col-sm-12">
                        <div class="row mt-10">
                            <div class="col-sm-6"><label for="firstname">First Name: </label></div>
                            <div class="col-sm-6"><input id="firstname" type="text" formControlName="firstname"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row mt-10">
                            <div class="col-sm-6"><label for="lastname">Last Name: </label></div>
                            <div class="col-sm-6"><input id="lastname" type="text" formControlName="lastname"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                     <div class="row mt-10">
                        <div class="col-sm-6"><label for="gender">Gender: </label></div>
                        <div class="col-sm-6"><input id="gender" type="text" formControlName="gender"></div>
                     </div>
                    </div>
                    <div class="col-sm-12">
                    <div class="row mt-10">
                        <div class="col-sm-6"><label for="dob">Date Of Birth: </label></div>
                        <div class="col-sm-6"><input id="dob" type="text" formControlName="dob" placeholder="dd-MON-yyyy"></div>
                    </div>
                    </div>
                    <div class="col-sm-12">
                    <div class="row mt-10">
                        <div class="col-sm-6"><label for="email">Email: </label></div>
                        <div class="col-sm-6"><input id="email" type="text" formControlName="email"></div>
                    </div>
                    </div>
                    <div class="col-sm-12">
                    <div class="row mt-10">
                        <div class="col-sm-6"><label for="password">Password: </label></div>
                        <div class="col-sm-6"><input id="password" type="text" formControlName="password"></div>
                    </div>
                    </div>
                    <div class="col-sm-12">
                    <div class="row mt-10">
                        <div class="col-sm-6"><label for="cpassword">Confirm Password: </label></div>
                        <div class="col-sm-6"><input id="cpassword" type="text" formControlName="cpassword"></div>
                    </div>
                    </div>
                    <div class="col-sm-12">
                    <div class="row mt-10">
                        <div class="col-sm-6"><label for="contactnumber">Contact Number: </label></div>
                        <div class="col-sm-6"><input id="contactnumber" type="text" formControlName="contactnumber"></div>
                    </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="justify-content-center mt-10">
                            <button type="submit" [disabled] = "!registrationForm.valid" class="btn btn-primary btn-sm btn-width">Register</button>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>