.tweetHeader{
    font-family: ProximaRegular;
}
.likeAlign {
    display: inline-flex;
}
.like {
    height: fit-content;
}
.countStyle {
    font-size: 26px;
    margin-left : 10px;
}
.editStyle {
    float: right;
}