<div class="row">
    <div class="col-sm-12">
        <div class="row tweetHeader">
            <div class="col-sm-6">
                <p *ngIf = "firstName">@{{firstName}}</p>
            </div>
            <div class="col-sm-6">
                <!-- <p>{{postedTime}}</p> -->
                <a href="javascript:void(0)" style="float: right; text-decoration: none;" (click)= "replyTweet()">Reply</a>
            </div>
        </div>
        
        <div class="tweetBody">
            <p>{{msg}}</p>
        </div>
        <div class=" row">
            <div class="col-sm-6 likeAlign">
                <button class="btn btn-primary like"(click) = "likeCount(tweet.id)">Like</button>
                <div id="{{tweet.id}}" class="countStyle" [innerHtml] = "tweet.like"></div>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-success editStyle" *ngIf = "enableEdit" (click) = "editTweetMsg()">Edit</button>
                <button class="btn btn-danger editStyle" style="margin-right: 5px;" *ngIf = "enableDelete" (click) = "deleteTweetMsg()">Delete</button>
                
            </div>
        </div>
        
    </div>
</div>