@import "~../node_modules/bootstrap/dist/css/bootstrap.min.css";

.btn-width {
    width:20%;
}
.formalign {
    text-align: center;
}
.userDetailCard {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin: 15px;
    padding: 25px;
}
.error{
    color: #d40c0c;
}